@import url("font-awesome/css/font-awesome.min.css");
@import url("windows10/windows10.css");

@font-face {
	font-family: "montserrat-regular";
	src: url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), 
	     url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "montserrat-bold";
	src: url("../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), 
	     url("../fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/* libre baskerville */
@font-face {
	font-family: "librebaskerville-regular";
	src: url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format("woff2"), 
	     url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "librebaskerville-italic";
	src: url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff2") format("woff2"), 
	     url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "librebaskerville-bold";
	src: url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff2") format("woff2"), 
	     url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 2px;

}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
  letter-spacing: 0.7px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #CCCCFF;
}

a:focus, a:hover {
  text-decoration: none;
  color: #7B68EE;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 15px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.download-section {
  background-color: white;
  background: url("../img/section2_bg2.jpg") no-repeat bottom center scroll;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.interests-section{
  background: url("../img/interests_bg.jpg") no-repeat bottom center scroll;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  #map {
    height: 350px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #CCCCFF;
  border: 1px solid #CCCCFF;
  background-color: transparent;
  font-size: 1.5rem;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #CCCCFF;
  outline: none;
  background-color: #CCCCFF;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

li {
	display: block;
}

/**
 * skillbars - (_skillbars.scss)
 * -------------------------------------------------------------------
 */
.skill-bars {
	list-style: none;
	margin: 6rem 0 3rem;
}

.skill-bars li {
	height: .6rem;
	background: #a1a1a1;
	width: 100%;
	margin-bottom: 6rem;
	padding: 0;
	position: relative;
}

.skill-bars li strong {
	position: absolute;
	left: 0;
	top: -3rem;
	font-family: sans-serif;
	color: white;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 2.4rem;
}

.skill-bars li .progress {
	background: white;
	position: relative;
	height: 100%;
	overflow: visible
}

.skill-bars li .progress span {
	position: absolute;
	right: 0;
	top: -3.6rem;
	display: block;
	font-family: "montserrat-regular" sans-serif;
	color: white;
	font-size: 1.1rem;
	line-height: 1;
	background: #313131;
	padding: .6rem .6rem;
	border-radius: 3px;
}

.skill-bars li .progress span::after {
	position: absolute;
	left: 50%;
	bottom: -5px;
	margin-left: -5px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid #313131;
	content: "";
}

.skill-bars li .percent5 {
	width: 5%;
}

.skill-bars li .percent10 {
	width: 10%;
}

.skill-bars li .percent15 {
	width: 15%;
}

.skill-bars li .percent20 {
	width: 20%;
}

.skill-bars li .percent25 {
	width: 25%;
}

.skill-bars li .percent30 {
	width: 30%;
}

.skill-bars li .percent35 {
	width: 35%;
}

.skill-bars li .percent40 {
	width: 40%;
}

.skill-bars li .percent45 {
	width: 45%;
}

.skill-bars li .percent50 {
	width: 50%;
}

.skill-bars li .percent55 {
	width: 55%;
}

.skill-bars li .percent60 {
	width: 60%;
}

.skill-bars li .percent65 {
	width: 65%;
}

.skill-bars li .percent70 {
	width: 70%;
}

.skill-bars li .percent75 {
	width: 75%;
}

.skill-bars li .percent80 {
	width: 80%;
}

.skill-bars li .percent85 {
	width: 85%;
}

.skill-bars li .percent90 {
	width: 90%;
}

.skill-bars li .percent95 {
	width: 95%;
}

.skill-bars li .percent100 {
	width: 100%;
}